<div class="intro">
    <h2>Tus recetas</h2>
    <b>*¡Hola Usuario</b>, aquí podrás guardar tus recetas saludables favoritas para poder hacerlas siempre que quieras, o incluso compartirlas con quien quieras!
</div>
<div class="add-recipe-btn">
    <a href="/recipes/addRecipe">Guardar Nueva Receta</a>
</div>
<section class="main-container-list">
    {{#each recetas}}<!--Recorremos todo el array de recetas que obtenemos de la BBDD y pasamos desde el backend--> 
    <article class="card-container-list">
        <h3 class="nombre-receta-list">{{nombre}}</h3>
        <p>Ingredientes</p>
        <div class="ingredientes-list">{{ingredientes}}</div>
        <p>Descripción y preparación de la receta</p>
        <div class="descripcion-list">{{descripcion}}</div>
        <p><span>Minutos de preparación &sim; </span><span>{{minutos_preparacion}} min</span></p>
        <div class="btns">
            <span class="edit-list">
                <a href="/recipes/editRecipe/{{id}}">Editar Receta</a>
            </span>
            <span class="delete-list">
                <a href="/recipes/deleteRecipe/{{id}}">Eliminar Receta</a>
            </span>
        </div>
    </article>
        {{else}} <!--Si no hay recetas guardadas...-->
        <div class="no-recipe">
            <p>No hay ninguna receta guardada todavía. <a href="/recipes/addRecipe">Crea tu primera receta aquí!</a></p>
        </div>
    {{/each}}
</section>